.about {
  margin-top: 20px;

  .about-me {
    .photo {
      img {
        border-radius: 8px;
        max-width: 100%;
      }
    }

    .headline {
      font-size: 1.6rem;
      display: flex;
    }

    .attributes {
      span.label {
        &:before {
          content: "#";
          display: inline-block;
        }
      }

      .danger {
        color: red;
        display: inline-block;
        font-weight: bold;
      }

      p {
        .fa {
          vertical-align: middle;
        }

        a {
          text-decoration: none;
        }
      }
    }

    .name {
      flex-grow: 1;
    }

    .social-buttons {
      a {
        color: #2f3440;
        margin: 0 15px 0 0;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
}

/* Response max-768 */
@media (max-width: 768px) {
  .about-me {
    padding: 0 10px;

    .headline {
      margin: 10px 0;
    }
  }
}
