.latests-posts {
  h3 {
    padding: 0;
    font-size: 16px;
    margin: 0;
  }

  .post-item {
    padding: 2px 10px;
    margin-bottom: 10px;

    &:nth-child(2n+1) {
      background: #c0c0c026;
    }

    p {
      margin: 0;
    }
  }
}
