{{ define "main" }}

<section id="main">
	<article class="post-detail">
		<div class="hero">
			<div class="hero-inner">
				<h1 class="title">
					{{ .Title }}
				</h1>
				<div class="date">🗓 {{ .Date.Format "02/01/2006" }} ⏳ {{ .ReadingTime }} min read</div>

				<div class="perex">
					{{ .Summary }}
				</div>
			</div>
		</div>
		<div class="body">
			<div class="content">
				{{ $body := replace .Content .Summary "" }}
				{{ $body | safeHTML }}
			</div>
		</div>
		<div class="disqus">
			<div id="disqus_thread" data-disqus-url="{{ .Permalink }}"></div>
		</div>
	</article>

	<section class="post-related">
		<div class="row">
			{{ if .PrevInSection }}
			<article class="post-prev col-md-6 col-sm-6">
				<i>PŘEDCHOZÍ</i>
				<h2>
					<a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a>
				</h2>
				<small>{{ .PrevInSection.Date.Format "02/01/2006" }}</small>
			</article>
			{{ end }}
			{{ if .NextInSection }}
			<article class="post-next col-md-6 col-sm-6">
				<i>NÁSLEDUJÍCÍ</i>
				<h2>
					<a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a>
				</h2>
				<small>{{ .NextInSection.Date.Format "02/01/2006" }}</small>
			</article>
			{{ end }}
		</div>
	</section>
</section>

{{ partial "comments.html" }}

{{ end }}
