<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en"><![endif]--><!--[if IE 8]>
<html class="ie8" lang="en"><![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <meta name="google-site-verification" content="XsOAmV1gT-Y3458pKxdVRR0mHQ719UiZOf7_p6T4nyU">

    <title>Milan Felix Šulc - Developer</title>

    <!-- SEO -->
    <meta name="keywords" content="milan felix sulc, milan sulc, developer, web developer, programator, nette">
    <meta name="description" content="I'm a web developer. Aimed at backend - PHP, MySQL, JavaScript, Nette Framwork, Nginx.">
    <meta name="googlebot" content="snippet,archive">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Felix">

    <!-- FACEBOOK -->
    <meta property="og:image" content="https://jfx.cz/assets/img/fb-logo.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Milan Felix Šulc - Developer">
    <meta property="og:url" content="https://jfx.cz/">
    <meta property="og:site_name" content="Felix">
    <meta property="og:description" content="Hello! I'm Milan Felix Šulc and I'm a web developer.">

    <!-- CSS -->
    <link rel="stylesheet" href="dist/dist.css?v=2.1">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Monitoring -->
    <script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '985f01401b527b16e809a765beb0c127c3d8f50e');
    </script>
</head>
<body>

<!-- Container -->
<div class="vcard-container">

    <!-- Social buttons column -->
    <div class="social-buttons hidden-xs hidden-sm">
        <a href="https://cv.jfx.cz">
            <div class="resume"><i class="fa fa-tasks"></i></div>
        </a>
        <a href="https://github.com/f3l1x">
            <div class="github"><i class="fa fa-github"></i></div>
        </a>
        <a href="https://www.facebook.com/xfelix">
            <div class="facebook"><i class="fa fa-facebook"></i></div>
        </a>
        <a href="https://twitter.com/xf3l1x">
            <div class="twitter"><i class="fa fa-twitter"></i></div>
        </a>
        <a href="https://www.linkedin.com/in/milansulc">
            <div class="linkedin"><i class="fa fa-linkedin"></i></div>
        </a>
        <a href="skype:rkfelix">
            <div class="skype"><i class="fa fa-skype"></i></div>
        </a>
    </div>
    <!-- /Social buttons column -->

    <!-- Main column -->
    <div id="content" class="tab-container main-column">

        <!-- Top row -->
        <div class="top-row">

            <!-- Photo -->
            <div class="photo">
                <ul id="photo" class="tabs">
                    <li class="tab def"><img src="img/felix.png" alt="Milan Felix Šulc"></li>
                </ul>
            </div>
            <!-- /Photo -->

            <div class="attributes">
                <a href="/">
                    <div class="name">Milan Felix Šulc</div>
                    <div class="position">DevGuy / Ninja</div>
                </a>
            </div>

            <div id="main-nav">
               <div>
                   <p>
                       Freelancer, workaholic, perfectionist, open-source developer.
                   </p>
                   <p>
                       <abbr title="Tlapnet, DERS, Econea, DigitalBandits, DesignBeat, Componette, Nette Community">Quite busy</abbr> but open for new challenges!
                   </p>
               </div>
            </div>
        </div>
        <!-- /Top row -->

        {{ block "main" .}}{{ end }}

        <!-- Footer -->
        <div id="footer">
            <div class="copyright">&copy; 2011 - 2017 by Felix. All rights reserved.</div>
        </div>
        <!-- /Footer -->

        <div class="clear dividewhite6"></div>
    </div>
    <!-- /Main column -->

</div>
<!-- /Container -->

<!-- MONITORING -->
<script>
    ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-28123999-1','auto');
    ga('set', 'contentGroup1', 'portfolio');
    ga('send','pageview');
</script>
<!-- JS -->
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
<script src="dist/bundle.js?v=2" type="text/javascript"></script>
</body>
</html>