<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en"><![endif]--><!--[if IE 8]>
<html class="ie8" lang="en"><![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.png" type="image/x-icon">
    <meta name="google-site-verification" content="XsOAmV1gT-Y3458pKxdVRR0mHQ719UiZOf7_p6T4nyU">

    <title>Milan Felix Šulc - Developer</title>

    <!-- SEO -->
    <meta name="keywords" content="milan felix sulc, milan sulc, developer, web developer, programator, nette">
    <meta name="description" content="I'm a web developer. Aimed at backend - PHP, MySQL, JavaScript, Nette Framwork, Nginx.">
    <meta name="googlebot" content="snippet,archive">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Felix">

    <!-- FACEBOOK -->
    <meta property="og:image" content="{{ .Site.BaseURL }}/img/fb-logo.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Milan Felix Šulc - Developer">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:site_name" content="Felix">
    <meta property="og:description" content="Hello! I'm Milan Felix Šulc and I'm a web developer.">

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}dist/dist.css?v=2.1">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Monitoring -->
    {{ partial "smartlook" }}
</head>
<body>

<div id="header">
    <div class="container">
        <nav>
            <ul>
                <li><a href="/" class="logo"><img title="Milan Felix Sulc" src="{{ .Site.BaseURL }}img/f3l1x.png"></a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/resume">CV</a></li>
                <li><a href="https://github.com/f3l1x">Github</a></li>
            </ul>
        </nav>
        <div class="buttons hidden-sm hidden-xs">
            <a class="button" href="https://twitter.com/xf3l1x"><i class="fa fa-twitter" aria-hidden="true"></i> @xf3l1x</a>
            <a class="button" href="/feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i> RSS</a>
        </div>
    </div>
</div>

<div class="container">
    <div id="content">
        {{ block "main" .}}{{ end }}
    </div>
</div>

<footer>
    <div class="container">
        <section class="end">
            <p>
                © <a href="http://jfx.cz">Milan Felix Šulc</a> |
                @<a href="http://twitter.com/xf3l1x">twitter</a> |
                #<a href="http://github.com/f3l1x">github</a>
            </p>

            <p>
                Generated by <a href="https://gohugo.io" title="Hugo">Hugo</a>
            </p>
        </section>
    </div>
</footer>

<!-- MONITORING -->
<script>
    ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-28123999-1','auto');
    ga('set', 'contentGroup1', 'portfolio');
    ga('send','pageview');
</script>
<!-- JS -->
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}dist/bundle.js?v=2" type="text/javascript"></script>
</body>
</html>