{{ define "head" }}
	{{- if .RSSLink }}
	<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	{{ end -}}
{{ end }}

{{ define "main" }}

<section id="main" class="page">
	{{ range .Data.Pages.GroupByDate "2006" }}
	<h2>{{ .Key }}</h2>
	<div>
		<section class="post-list">
			{{ range .Pages }}
			<article class="post">

				<h2 class="title">
					<span class="date">🗓 {{ .Date.Format "02/01/2006" }}</span>
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</h2>

				<div class="perex">
					{{ .Summary }}
				</div>
			</article>
			{{ end }}
		</section>
	</div>
	{{ end }}
</section>

{{ end }}
