{{ define "title" }}{{ .Title }} | {{ .Site.Params.title_postfix }} {{ end }}

{{ define "head" }}
	{{- with .OutputFormats.Get "RSS" }}
	<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
	<link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
	{{ end -}}

	<meta property="og:image" content="https://oggo.vercel.app/felix/?t={{- replace (plainify .Page.Title) " " "%20" -}}" />
	<meta property="og:image:width" content="2400" />
	<meta property="og:image:height" content="1254" />

	{{- range $key, $value := .Page.Params.meta }}
	<meta property="{{ $key }}" content="{{ $value }}" />
	{{ end -}}
{{ end }}

{{ define "assets" }}
	{{ partial "assets" "/dist/index.css" -}}
	{{ partial "assets" "/dist/blog/entry.css" -}}
	{{ partial "assets" "/dist/index.js" -}}
	{{ partial "assets" "/dist/blog/entry.js" -}}

	{{ range $asset := .Page.Params.assets }}
		{{ partial "assets" (printf "/dist/blogposts/%s/%s" (dateFormat "2006-01-02" $.Page.Date) $asset) -}}
	{{ end }}
{{ end }}

{{ define "main" }}
<div class="max-w-4xl px-4 py-8 mx-auto text-center sm:px-8 md:py-32 sm:py-16">
	<h1 class="text-xl font-bold md:text-2xl xl:text-3xl">
		{{ .Title }}
	</h1>
	<span class="text-xs md:text-sm">{{ .Summary }}</span>
</div>
<div class="max-w-4xl px-4 mx-auto text-center sm:px-8">
	<div class="flex w-full">
		<div aria-label="hidden" class="flex items-center flex-1 pr-2">
			<div class="w-full h-0 border-t border-gray-300"></div>
		</div>
		<div class="flex flex-wrap justify-center items-center flex-grow-0">
			<div class="inline-flex items-center py-1 px-3 text-xs md:text-base">
				<img src="https://obr.now.sh/remixicon/business/calendar-2-fill/24/4299e1" class="mr-2 flex-grow-0">
				{{ .Date.Format "02/01/2006" }}
			</div>
			<div class="inline-flex items-center py-1 px-3 text-xs md:text-base">
				<img src="https://obr.now.sh/remixicon/system/time-line/24/4299e1" class="mr-2 flex-grow-0">
				{{ .ReadingTime }} min read
			</div>
			<div class="inline-flex items-center py-1 px-3 text-xs md:text-base">
				<img src="https://obr.now.sh/remixicon/communication/message-2-line/24/4299e1" class="mr-2 flex-grow-0">
				{{ .FuzzyWordCount }} words
			</div>
		</div>
		<div aria-label="hidden" class="flex items-center flex-1 pl-2">
			<div class="w-full h-0 border-t border-gray-300"></div>
		</div>
	</div>
</div>

<div class="max-w-4xl px-4 pt-8 mx-auto md:pt-16 sm:px-8">
	<div class="richtext">
		{{ $body := replace .Content .Summary "" }}
		{{ $body | safeHTML }}
	</div>
</div>

<div class="max-w-4xl px-4 pb-8 mx-auto sm:px-8">
{{ partial "comments.html" }}
</div>

{{ end }}
