{{ $project := index .Site.Data.projects .Params.type }}
<div class="organization">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-2 text-right organization__logo">
			<a href="https://github.com/{{$project.webalize}}">
				<img class="media-object" src="https://avatars0.githubusercontent.com/u/{{ int $project.id }}?v=3&amp;s=64" title="{{$project.name}}" alt="{{$project.name}}">
			</a>
		</div>
		<div class="col-md-11 col-sm-11 col-xs-10 organization__headline">
			<h3 class="media-heading">
				<a href="https://github.com/{{$project.webalize}}">{{$project.name}}</a> <i class="fa fa-github"></i>
			</h3>
			{{ if isset $project "description" }}
				<p>{{ $project.description }}</p>
			{{ end }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 organization__repos">
			<table class="table table-striped table-hovered">
				<tbody>
				{{ range $repository := sort (index $.Site.Data.github $project.webalize "repos") "name" "asc" }}
				<tr>
					<td>
						<a href="https://github.com/{{ $repository.name }}">{{ $repository.name }}</a>
					</td>
					<td>{{ $repository.description | emojify }}</td>
				</tr>
				{{ end }}
				</tbody>
			</table>
		</div>
	</div>
</div>
