{{ define "main" }}

<div class="homepage">
    <div class="welcome">
        <div class="row">
            <div class="col-md-8 col-sm-8 hot">
                <ul>
                    <li>
                        Hi! I am Milan Šulc better known as <strong>Felix</strong> and I <code>code</code> for living.
                        You can follow my latest activity on Twitter (<a href="https://twitter.com/xf3l1x">@xf3l1x</a>),
                        on Github (<a href="https://github.com/f3l1x">#f3l1x</a>) or on my <a href="/blog">blog</a>.
                    </li>
                    <li>
                        I am currently quite busy doing my best on <a href="https://nette.org">Nette Framework</a>
                        documentation, taking care of community projects and create some another Github organizations (of course).
                    </li>
                    <li>
                        Unfortunately, I can't only work on opensource. So you can find me working for <a href="http://tlapnet.cz">Tlapnet</a>,
                        <a href="https://ders.cz">DERS</a>, <a href="http://econea.cz">Econea</a> and some other projects.
                        At the end I work day and night for my own geek company <a href="https://nx1.cz">NX1</a>.
                    </li>
                    <li>
                        Anyway, you can reach me on <a href="https://gitter.com/f3l1x">Gitter</a> or <a href="https://pehapkari.cz">Pehapkari.cz's</a> <a href="https://pehapkari.slack.com/messages">Slack</a>.
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="photo img-rounded text-center">
                    <img src="/img/f3l1x.png" width="200" title="Hi I'm Milan, do you want to hire me? Nice!" alt="Milan Felix Šulc">
                </div>
            </div>
        </div>
    </div>

    <div class="latests-posts">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2><a href="/blog">Latest Blog Posts</a></h2>
                    {{ range first 5 (where .Page.Site.Pages.ByDate "Type" "blog").Reverse }}
                    <div class="post-item">
                        <h3 class="title">
                            <a href="{{ .RelPermalink }}">{{ .Date.Format "02/01/2006" }} | {{ .Title }}</a>
                        </h3>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
